body {
	font-family: Sans-serif;
	font-weight: bold;
	text-align: center;
	color: black;
}

.header {
	color: white;
	background-image: url("images/the-flatiron-building.png");
}

h1{
font-size: 70px;
}	

h3 {
	font-size: 18px
}
.process {
	font-size: 32px;
}

h2{
	font-size: 23px;
}

p {
	font-size: 14px;
}

.designed {
	color: white;
	background-image: url("images/the-flatiron-building.png");
}
h6 {
	background-color: dimgray;
	color: white;
	text-align: left;
	font-size: 11px;
}

span {
	font-size: 15px;
	color:white;
}